{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" style = "margin-left: 35%;margin-right:35%;width: 30%;" name="password" placeholder="New Password" type="password">
        </div>
        <button class="btn btn-primary" style = "margin-left: 45%; margin-right:45%;width: 10%;" type="submit">Submit!</button>
    </form>
{% endblock %}
